.title {
    padding-bottom: 20px;
    font-size: 35px;
}

.list {
    padding-bottom: 20px;
    font-size: 15px;
}

#pagination {
    padding-top: 5px;
}

.textForButton {
    color: white;
    text-align: center;
}

.textForButton:hover{
    text-decoration: none;
    color: white;
}

.boxes {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.itemBold{
    font-weight: bold;
}

.listItemLeftSide{
    float: left;
}

.listItemRightSide{
    float: right;
}

.listItemBoldAndLeftSide{
    font-weight: bold;
    float: left;
}

#createTemplateLeftDiv, #createProjectLeftDiv{
    float: left;
    padding-right: 125px;
}

#createTemplateContent{
    padding-top: 85px;
}

#showTemplateContent {
    float: left;
}

#scrollElements{
    width: 100px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
    margin: 0 auto;
    white-space: nowrap;
}

#list {
    padding-top: 20px;
}

#search {
    background: url("../assets/searchIcon.png") no-repeat scroll 7px 7px;
    padding-left:30px;
}

#searchNotFoundText {
    text-align: center;
    font-weight: bold;
}

.buttonOnCenter {
    text-align: center;
}

.successBox, .errorBox {
    padding-top: 10px;
}

#btnSave {
    display: none;
}